# Web Framework and API
fastapi==0.95.2
uvicorn==0.22.0

# Machine Learning Libraries
xgboost==1.7.6
scikit-learn==1.3.1
numpy==1.24.3
pandas==1.5.3
statsmodels==0.14.0

# Utilities
pydantic==1.10.9
python-dotenv==1.0.0

# Testing APIs and Debugging
httpx==0.24.1  # For testing API endpoints programmatically
pytest==7.4.2  # For unit testing if needed

# Optional Libraries
joblib==1.3.2  # For saving/loading models like XGBoost
matplotlib==3.7.2  # For visualizing results (optional)

# Kaggle API
kaggle==1.5.13
kagglehub

# iWidgets
ipywidgets

# Locust
locust